{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10%;
		backdrop-filter: blur(2px);
		margin: 10% 15%;
		background: #ffffff7a;
		border-radius: 1rem;
		filter: drop-shadow(0px 0px 5px #7a7a7a);
		color: white;
		font-variant: unicase;
		font-weight: 900;
		text-align: center;
		cursor: pointer;
		transition: all .5s ease-in-out;
		gap: 1rem;
		flex-direction: column;
	}

	.background {
		width: 90%;
		border-radius: 1rem;
		margin: 5%;
		height: 60%;
		background: url('/static/background3.png') no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: flex-end;
	}

	form .form-c-input {
		width: 90%;
		padding: 2% 5%;
		background-color: #ffffff;
		border-radius: 5px;
		border-style: none;
		font-variant: all-petite-caps;
		color: black;
		font-style: normal !important;
		text-transform: capitalize !important;
	}

	.login-form-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: 2rem 0;
		justify-content: space-evenly;
	}

	.btn-c-form {
		padding: 2% 8%;
		border-radius: .7rem;
		background: linear-gradient(227deg, #29423f, #bebebe);
		border-style: none;
		font-variant: all-petite-caps;
		color: white;
		font-style: normal !important;
		cursor: pointer;
		transition: all .5s ease-in-out;
	}

	.btn-c-form:hover {
		padding: 2% 6%;
		background: linear-gradient(180deg, #29423f, #bebebe);
		filter: drop-shadow(0px 0px 10px #a1a1a1);
	}
</style>
{% endblock %}
{% block content %}
<div class="background">
	<form id="login_form">
		{% csrf_token %}
		<input type="text" class="form-c-input" id="username" name="username" placeholder="Enter username">
		<input type="password" class="form-c-input" id="password" name="password" placeholder="Enter password">
	</form>
</div>
<div class="login-form-btn">
	<button type="button" data="login" class="btn-c-form">Login</button>
	<button type="button" data="register" class="btn-c-form">Register</button>
</div>
{% endblock %}

{% block scripts %}
<script>
	$("form .form-c-input").on('change', function () {
		if ($(this).val() == "") {
			$(this).css('font-variant', 'all-petite-caps');
			$(this).css('font-size', 'inherit');
		}
		else {
			$(this).css('font-variant', 'normal');
			$(this).css('font-size', '0.95em');
		}
	});

	$(document).ready(function () {
		$(".btn-c-form[data='login']").on('click', function () {
			$.ajax({
				url: '/login',
				type: 'POST',
				data: {
					username: $("#username").val(),
					password: $("#password").val(),
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function (response) {
					if (response.status == 'success') {
						window.location.href = response.url;
					} else {
						$('.notification-tab ul').html("<li>Wrong Credentials!</li>");
						$(".notification-tab").addClass('active');
						setTimeout(() => {
							$(".notification-tab").removeClass('active');
							$('.notification-tab ul').empty();
						}, 5000);
					}
				}
			});
		});
	});
</script>
{% endblock %}